{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}



    <h2>{{ article.title }}</h2>
    <p>{{ article.content |raw }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}

        {% include'comments.html.twig'with{'comment': comment} %}

    {% else %}
        No comments yet.
    {% endfor %}
    <form id="form-Comment" method="post" action="">
    <h3>Ajouter un commentaire</h3>
            <div class="form-group">
                <input type="hidden" name="parent_id" id="parent_id" value="0">
                <input type="textarea" class="form-control" name="commentContent" placeholder= "Votre commentaire" required="true">

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="publier" />

            </div>
</form>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}





    </div>



{% endblock %}