<form id="form-subComment" method="post" action="">
    <h4><small>Répondre au commentaire</small></h4>
            <div class="form-group">
                <input type="hidden" name="parent_id" id="parent_id" value="{{ parentId }}">
                <textarea class="form-control" name="commentContent" autofocus="true" placeholder= "Votre réponse au commentaire" required="true"></textarea>

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-custom btn-sm " value="Publier" />

            </div>
</form>








