<form id="form-subComment" method="post" action="">
    <h4>Répondre au commentaire</h4>
            <div class="form-group">
                <input type="hidden" name="parent_id" id="parent_id" value="{{ parentId }}">
                <input type="textarea" class="form-control" name="commentContent" placeholder= "Votre réponse au commentaire" required="true">

            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary " value="Publier" />

            </div>
</form>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
