{% extends "layout.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container-fluid error">
<div  id="error">
		<h1>Nous sommes désolés...<br><small>{{ message }}</small></h1>
	</div>
</div>
</div>

{% endblock %}